

NET "RESET" LOC = P129;
NET "instruction[0]" LOC = P98;
NET "instruction[1]" LOC = P99;
NET "instruction[2]" LOC = P101;
NET "instruction[5]" LOC = P104;
NET "instruction[3]" LOC = P103;
NET "instruction[6]" LOC = P102;
NET "instruction[7]" LOC = P110;
NET "instruction[4]" LOC = P105;
NET "PC[0]" LOC = P114;
NET "PC[2]" LOC = P113;
NET "PC[3]" LOC = P115;
NET "PC[4]" LOC = P117;
NET "PC[5]" LOC = P116;
NET "PC[1]" LOC = P111;
NET "PC[6]" LOC = P121;
NET "l[0]" LOC = P7;
NET "l[2]" LOC = P139;
NET "l[3]" LOC = P138;
NET "l[4]" LOC = P134;
NET "l[5]" LOC = P47;
NET "l[6]" LOC = P46;
NET "m[0]" LOC = P29;
NET "PC[7]" LOC = P120;
NET "m[3]" LOC = P30;
NET "m[4]" LOC = P32;
NET "l[1]" LOC = P82;
NET "m[5]" LOC = P28;
NET "m[2]" LOC = P25;
NET "m[6]" LOC = P27;
NET "m[1]" LOC = P31;
NET "_CLK" LOC = P88;
