//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 16 21:51:21 2015
//! **************************************************************************

SCHEMATIC START;
COMP "_CLK" LOCATE = SITE "P88" LEVEL 1;
COMP "l<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "l<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "l<2>" LOCATE = SITE "P139" LEVEL 1;
COMP "l<3>" LOCATE = SITE "P138" LEVEL 1;
COMP "m<0>" LOCATE = SITE "P29" LEVEL 1;
COMP "l<4>" LOCATE = SITE "P134" LEVEL 1;
COMP "m<1>" LOCATE = SITE "P31" LEVEL 1;
COMP "l<5>" LOCATE = SITE "P47" LEVEL 1;
COMP "m<2>" LOCATE = SITE "P25" LEVEL 1;
COMP "l<6>" LOCATE = SITE "P46" LEVEL 1;
COMP "m<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "m<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "m<5>" LOCATE = SITE "P28" LEVEL 1;
COMP "m<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "PC<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "PC<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "PC<2>" LOCATE = SITE "P113" LEVEL 1;
COMP "PC<3>" LOCATE = SITE "P115" LEVEL 1;
COMP "PC<4>" LOCATE = SITE "P117" LEVEL 1;
COMP "PC<5>" LOCATE = SITE "P116" LEVEL 1;
COMP "PC<6>" LOCATE = SITE "P121" LEVEL 1;
COMP "PC<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "RESET" LOCATE = SITE "P129" LEVEL 1;
COMP "instruction<0>" LOCATE = SITE "P98" LEVEL 1;
COMP "instruction<1>" LOCATE = SITE "P99" LEVEL 1;
COMP "instruction<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "instruction<3>" LOCATE = SITE "P103" LEVEL 1;
COMP "instruction<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "instruction<5>" LOCATE = SITE "P104" LEVEL 1;
COMP "instruction<6>" LOCATE = SITE "P102" LEVEL 1;
COMP "instruction<7>" LOCATE = SITE "P110" LEVEL 1;
SCHEMATIC END;

